.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.sidebar {
  width: 280px;
  flex-shrink: 0;
  padding: 1.5rem;
  border-right: 1px solid #eaeaea;
  overflow-y: auto;
  background-color: #fafafa;
}

.content {
  flex-grow: 1;
  padding: 2rem;
  overflow-y: auto;
}
